html{
  height: 100%;
  height: -webkit-fill-available;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1{
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 170px;
  margin: 0;
}

h2{
  font-family: 'Rubik Beastly', cursive;
  font-size: 3vh;
  margin: 0;
}

h3{
  font-family: 'JetBrains Mono', monospace;
  font-weight: 100;
  font-size: 20px;
  padding-top: 3vh;
  padding-bottom: 1vh;
}
